/* ********************** Général */
:root{
    /* Colors */
    --backgroundBlue: #011e48;
    --moonWhite: #f7fbfd;
    --scndLevelBlue: #010624;
    --firstLevelBlue: #00020e;
    --windowsLight: #ebc369;
    --halloweenOrange: #cc6e06;

    /* Fonts */
    --title: 'anudawregular', Arial, sans-serif;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body{
    width: 100%;
    height: 100vh;
}

main{
    width: 100%;
    height: 100%;
    background-color: var(--backgroundBlue);
    position: relative;
    overflow: hidden;
}

/* ********************** Background elements */
/* Third level */
.moon{
    width: 25vw;
    height: 25vw;
    background-color: var(--moonWhite);
    position: absolute;
    top: 5%;
    left: 5%;
    border-radius: 20vw;
    box-shadow: 0px 0px 600px var(--moonWhite);
    z-index: 1;
}

h1{
    font-family: var(--title);
    position: absolute;
    font-size: 3rem;
    top: 5%;
    right: 5%;
    z-index: 1;
    color: var(--moonWhite);
    opacity: 0.1;

}

.cloud {
    width: 250px;
    height: 250px;
    background-image: url(medias/cloud.svg);
    position: absolute;
    background-repeat: no-repeat;
    z-index: 2;
    left: 110%;
}

/* Second level */
.hill-scnd-level{
    position: absolute;
    background-color: var(--scndLevelBlue);
    border-radius: 100% 100% 0 0;
    z-index: 4;
}

.hill-right{
    top: 60%;
    left: 20%;
    width: 160%;
    padding: 40%;
}

.hill-left{    
    top: 70%;
    left: -80%;
    width: 260%;
    padding: 40%;
}

.dead-tree{
    width: 10%;
    height: 25%;
    background: url(medias/dead-tree.svg) no-repeat center bottom;
    position: absolute;
    z-index: 3;
    object-fit: contain;
    left: 5%;
    top: 50%;
    transform-origin: center bottom;
}

.dead-tree2{
    width: 20%;
    height: 40%;
    background: url(medias/dead-tree2.svg) no-repeat center bottom;
    position: absolute;
    z-index: 3;
    object-fit: contain;
    left: 60%;
    top: 28%;
    transform-origin: center bottom;
}

.cross{
    width: 50px;
    height: 150px;
    background: url(medias/cross.svg) no-repeat center bottom;
    position: absolute;
    z-index: 3;
    object-fit: contain;
    left: 21%;
    bottom: 26%;
    transform-origin: center bottom;
}

.zombie-hand{
    width: 20px;
    height: 50px;
    background: url(medias/zombie-hand.svg) no-repeat center bottom;
    position: absolute;
    z-index: 3;
    object-fit: contain;
    left: 20%;
    bottom: 23%;
    transform-origin: center bottom;
}

.epouvantail{
    width: 10%;
    height: 20%;
    background: url(medias/epouvantail.svg) no-repeat center bottom;
    position: absolute;
    z-index: 3;
    object-fit: contain;
    left: 80%;
    bottom: 35%;
    transform-origin: center bottom;
}

#house{
    width: 30%;
    position: absolute;
    left: 30%;
    bottom: 28%;
    z-index: 3;
}

#house .house-path{
    cursor: pointer;
}

#house .windows-path{
    fill: var(--scndLevelBlue);
    transition: fill 0.5s ease;
    cursor: pointer;
}

/* First level */
.hill-first-level{
    position: absolute;
    background-color: var(--firstLevelBlue);
    border-radius: 100% 100% 0 0;
    z-index: 5;
    top: 80%;
    left: 50%;
    transform: translateX(-55%);
    width: 260%;
    padding: 40%;
}

.cross2{
    width: 150px;
    height: 250px;
    background: url(medias/cross2.svg) no-repeat center bottom;
    position: absolute;
    transform: rotate(10deg);
    z-index: 5;
    object-fit: contain;
    left: 10%;
    bottom: 18%;
    transform-origin: center bottom;
}

.dead-tree3{
    width: 50%;
    height: 130%;
    position: absolute;    
    background: url(medias/dead-tree3.svg) no-repeat center bottom;
    z-index: 5;
    object-fit: contain;
    left: -20%;
    top: -20%;
    transform-origin: center bottom;
}

.dead-tree4{
    width: 50%;
    height: 130%;
    position: absolute;    
    background: url(medias/dead-tree3.svg) no-repeat center bottom;
    z-index: 5;
    object-fit: contain;
    left: 80%;
    top: -20%;
    transform-origin: center bottom;
}

#pumpkin{
    width: 10%;
    position: absolute;
    left: 60%;
    bottom: 17%;
    z-index: 5;
    transform: rotate(5deg);
}

#pumpkin .body-pumpkin{
    cursor: pointer;
}

#pumpkin .face-pumpkin{
    fill: var(--firstLevelBlue);
    transition: fill 0.5s ease;
    cursor: pointer;
}

/* ********************** Calender  */

.hand-calender{
    width: 40%;
    height: 120%;
    background: url(medias/hand-calender.svg) no-repeat center bottom;
    position: absolute;
    z-index: 6;
    object-fit: contain;
    left: 50%;
    transform: translateX(-50%);
    top: 90%;
    transform-origin: center bottom;
}

.wrapper-calender{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 7;
    background-color: var(--firstLevelBlue);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
    opacity: 0;
    transition: all 0.8s ease-in-out;
}

.wrapper-calender .btn-leave-calender{
    width: 5vw;
    height: 5vw;
    object-fit: contain;
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
}

.wrapper-calender .btn-leave-calender:hover .house-home{
    fill: var(--halloweenOrange);
}

.wrapper-calender h1{
    position: relative;
    top: 0;
    right: 0;
    color: var(--windowsLight);
    opacity: 0.5;
    margin-bottom: 20px;
}

.grid-calender{
    width: 80%;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
}

.grid-element{
    width: calc(100%/7);
    height: calc(100%/5);
    border: 2px solid var(--firstLevelBlue);
    background-color: var(--backgroundBlue);
    position: relative;
}

.grid-element:nth-child(7n - 5), 
.grid-element:nth-child(7n - 4), 
.grid-element:nth-child(7n - 3){
    background-color: var(--halloweenOrange);
}

.grid-element p{
    font-family: var(--title);
    color: var(--moonWhite);
    margin: 5px;
    z-index: 3 !important;
    text-align: center;
}

.grid-element .icon-calender{
    width: 60%;
    height: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    opacity: 0.5;
}

.grid-element .closed-icon{
    background: url(medias/closed-day.svg) no-repeat center center;
    object-fit: contain;
    z-index: 1;
}

.grid-element .open-icon{
    background: url(medias/open-day.svg) no-repeat center center;
    object-fit: contain;
    z-index: 1;
}



/* ********************** Prices  */

.wrapper-price{
    width: 20%;
    position: absolute;
    bottom: 20px;
    left: 55%;
    z-index: 7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-in-out;
    white-space: nowrap;
    opacity: 0;
}

.wrapper-price .btn-leave-price{
    width: 5vw;
    height: 5vw;
    object-fit: contain;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.wrapper-price .btn-leave-price:hover .house-home{
    fill: var(--halloweenOrange);
}

.wrapper-price h1{
    position: relative;
    font-size: 2rem;
    top: 0;
    right: 0;
    color: var(--windowsLight);
    opacity: 0.5;
    margin-bottom: 20px;
}

.wrapper-price p{
    font-family: var(--title);
    color: var(--moonWhite);
    margin: 5px;
    text-align: center;
}
